<mat-toolbar color="primary">
  <span>Robo4Hire</span>
</mat-toolbar>
<span>Find a robot for every job!</span>
<div id="robots">
  <mat-card class="robot"
            *ngFor="let robot of robots">
    <mat-card-title>
      {{robot.name}}
    </mat-card-title>
    <img mat-card-mat-image
         src="http://www.robohash.org/{{robot.name}}" />
    <mat-chip-list>
      <mat-chip *ngFor="let job of robot.jobs">{{job}}</mat-chip>
    </mat-chip-list>
    <button mat-raised-button
            class="hire"
            color="primary">Hire Me!</button>
  </mat-card>`
</div>